@keyframes slide{
    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(-1692px, 0, 0)
    }
}

@keyframes pageon{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes slogan_anim {
    0% {
        -webkit-transform: scaleX(2);
            transform: scaleX(2);
        -webkit-filter: blur(4px);
            filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
    }
}
  
@-webkit-keyframes logo_anim {
    0% {
      -webkit-transform: skew(0deg 0deg);
              transform: skew(0deg 0deg);
    }
    30% {
      -webkit-transform: skew(25deg 25deg);
              transform: skew(25deg 25deg);
    }
    40% {
      -webkit-transform: skew(-15deg, -15deg);
              transform: skew(-15deg, -15deg);
    }
    50% {
      -webkit-transform: skew(15deg, 15deg);
              transform: skew(15deg, 15deg);
    }
    65% {
      -webkit-transform: skew(-5deg, -5deg);
              transform: skew(-5deg, -5deg);
    }
    75% {
      -webkit-transform: skew(5deg, 5deg);
              transform: skew(5deg, 5deg);
    }
    100% {
      -webkit-transform: skew(0deg 0deg);
              transform: skew(0deg 0deg);
    }
  }
@keyframes logo_anim {
    0% {
        -webkit-transform: skew(0deg 0deg);
                transform: skew(0deg 0deg);
    }
    30% {
        -webkit-transform: skew(25deg 25deg);
                transform: skew(25deg 25deg);
    }
    40% {
        -webkit-transform: skew(-15deg, -15deg);
                transform: skew(-15deg, -15deg);
    }
    50% {
        -webkit-transform: skew(15deg, 15deg);
                transform: skew(15deg, 15deg);
    }
    65% {
        -webkit-transform: skew(-5deg, -5deg);
                transform: skew(-5deg, -5deg);
    }
    75% {
        -webkit-transform: skew(5deg, 5deg);
                transform: skew(5deg, 5deg);
    }
    100% {
        -webkit-transform: skew(0deg 0deg);
                transform: skew(0deg 0deg);
    }
}
@keyframes start_modal_logo{
    0% {
        transform: translateY(0);
        transform: scaleX(0.4);
        opacity: 0;
      }
    30%{
        opacity: 1;
    }
    80% {
        transform: translateY(0px);
        transform: scaleX(1);
    }
    100% {
        transform: translateY(-500px);
    }
}
@keyframes start_modal{
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    30%{
    }
    80% {
    }
    100% {
        transform: translateY(-1000px);
        opacity: 0;
    }
}




body{
    //font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
    background-color: #fafafa;
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    >div{
        width: 100%;
        height: 100%;
    }
    video{
        width: 100%;
        z-index: -100;
        position: relative;
        box-shadow: 0px 5px 10px 5px #b4b4b4;
    }
    .load_modal{
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        animation: start_modal 0.5s linear both 0.6s;
        background-color: #FAFF2C;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo{
            display: flex;
            justify-content: center;
            position: absolute;
            animation: start_modal_logo 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    }
}
.container{
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    display: flex;
    #nav{
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 47px;
        background-color: #FAFF2C;
        position: fixed;
        top: 0px;
        width: 100%;
        .logo{
            cursor: pointer;
            //animation: logo_anim 0.8s both 1s;
            margin: 20px 0px;
            height: 20px;
            img{
                height: 100%;
            }
        }
        .contact{
            position: absolute;
            right: 0px;
            display: flex;
            align-items: center;
            height: 27px;
            font-size: 14px;
            border-radius: 20px;
            font-weight: 700;
            background-color: #fff;
            margin-right: 25px;
            padding: 0px 15px;
            img{
                cursor: pointer;
                height: 24px;
                margin-right: 5px;
            }
        }
    }

    .main-content{
        display: flex;
        flex-direction: column;
        flex: 1;
        z-index: 0;
        height: 100%;
        width: 100%;
        .page1{
            width: 100vw;
            height: 87vh;
            display: flex;
            align-items: center;
            justify-content: center;
            .video-box{
                display: flex;
                .main-videos{
                    .main-video{
                        z-index: -99;
                        width: 189px;
                        height: 336px;
                        display: inline-block;
                        border: 8px solid transparent;
                    }
                    .video-border{
                        border-radius: 18px;
                        border: 8px solid #000;
                        width: 189px;
                        height: 336px;
                        position: absolute;
                    }
                }
            }

            .slogan-box{
                margin:0px 70px;
                .slogan{
                    //animation: slogan_anim 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both 1.2s;
                    img{
                        height: 108px;
                    }
                }
                .down-box{
                    z-index: 20;
                    text-align: center;
                    top: 100px;
                    position: relative;
                    display: flex;
                    padding: 0px 45px;
                    justify-content: space-between;
                    img{
                        height: 42px;
                    }
                    .down{
                        display: inline-block;
                        cursor: pointer;
                    }
                }
            }
            .video-slogan{
                display:flex;
                align-items: center;
                font-size: 21px;
                font-weight: 400;
                .left-text{
                    margin: 0px 8px 0px 15px;
                }
                .right-text{
                    margin: 0px 15px 0px 8px;
                }
                img{
                    height: 15px;
                }
            }
        }

        .page2{
            z-index: -1;
            width: 100%;
            max-height: 100px;
            overflow: hidden;
            .scroller{
                .sub-videos{
                    width: 189px;
                    display: inline-block;
                    .sub-video{
                        z-index: -99;
                        width: 189px;
                        height: 360px;
                        border: 8px solid transparent;
                    }
                    .video-border{
                        border-radius: 18px;
                        border: 8px solid #000;
                        width: 189px;
                        height: 336px;
                        position: absolute;
                    }
                }
            }
        }

        .page3{
            z-index: 100;
            display: flex;
            position: fixed;
            animation: pageon 1s linear;
            top: 0;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #fafafa;
            .terms-container{
                padding: 30px;
                border: 5px solid;
                border-radius: 20px;
                width: 80%;
                margin: 0 auto;
                box-sizing: border-box;
                .subject{
                    font-size: 38px;
                    font-weight: 700;
                    margin-bottom: 20px;
                }
                #terms-of-use-text{
                    max-height: 400px;
                    overflow-y: auto;
                }
            }
        }

        .page4{
            z-index: 100;
            display: flex;
            position: fixed;
            animation: pageon 1s linear;
            top: 0;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #fafafa;
            .privacy-policy-container{
                padding: 30px;
                border: 5px solid;
                border-radius: 20px;
                width: 80%;
                margin: 0 auto;
                box-sizing: border-box;
                .subject{
                    font-size: 38px;
                    font-weight: 700;
                    margin-bottom: 20px;
                }
                #privacy-policy-text{
                    max-height: 400px;
                    overflow-y: auto;
                }
            }
        }
    }
    .footer{
        z-index: 1;
        display: flex;
        align-items: center;
        width: 100%;
        height: 90px;
        background-color: #000;
        color: #ffffff;
        font-weight: 700;
        font-size: 13px;
        .footer-logo{
            //animation: logo_anim 0.8s both 1s;
            flex: 0 1 auto;
            margin-left: 40px;
            height: 28px;
            img{
                height: 100%;
            }
        }
        .footer-desc{
            flex: 1;
            margin-left: 45px;
        }
        .botton-container{
            flex: 1;
            text-align: right;
            margin-right: 40px;
            .botton{
                display: inline-block;
                cursor: pointer;
                text-decoration-line: underline;
                text-underline-position: under;
            }
            #terms-of-use{
                margin-right: 30px;
            }
        }
    }
}

//모바일 스크린
@media (min-width: 280px) and (max-width: 767px) {
    .load_modal{
        img{
            width: 50%;
        }
    }


    .container{
        flex-direction: column;
        min-height: 100vh;
        min-width: 100vw;
        height: 100%;
        display: flex;
        #nav{
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 47px;
            background-color: #FAFF2C;
            position: fixed;
            top: 0px;
            width: 100%;
            .logo{
                cursor: pointer;
                //animation: logo_anim 0.8s both 1s;
                margin: 20px 0px;
                height: 20px;
                img{
                    height: 100%;
                }
            }
            .contact{
                display: none;
                top:60px;
                right: unset !important;
                margin-right: 0px !important;
                box-shadow: 0px 0px 6px 0px #9999;
            }
        }
        .main-content{
            .page1-moblie{
                width: 100vw;
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-top: 110px;
                .video-container{
                    display: flex;
                    width: 100%;
                    #right-video{
                        .main-videos{
                            position: relative;
                            left: 10%;
                        }
                    }
                    #left-video{
                        .main-videos{
                            position: relative;
                            right: 10%;
                        }
                    }
                    .video-box{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .main-videos{
                            .main-video{
                                z-index: -99;
                                display: inline-block;
                                video{
                                    border: 7px solid #000;
                                    border-radius: 12px;
                                    box-shadow: none;
                                }
                            }
                        }
                        .video-slogan{
                            display:flex;
                            align-items: center;
                            font-size: 15px;
                            font-weight: 400;
                            .left-text{
                                margin: 0px 6px 0px -40px;
                            }
                            .right-text{
                                margin: 0px -40px 0px 6px;
                            }
                            img{
                                height: 10px;
                            }
                        }
                    }
                }
    
                .slogan-box{
                    margin:36px 100px 50px 100px;
                    .slogan{
                        text-align: center;
                        //animation: slogan_anim 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both 1.2s;
                        img{
                            height: 70px;
                        }
                    }
                    .down-box{
                        z-index: 20;
                        text-align: center;
                        margin-top: 24px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        img{
                            height: 48px;
                        }
                        .down{
                            display: inline-block;
                            cursor: pointer;
                        }

                        .appstore{
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            .page2{
                display: none;
            }

            .page3{
                z-index: 100;
                display: flex;
                position: fixed;
                animation: pageon 1s linear;
                top: 14px !important;
                justify-content: center;
                align-items: center;
                height: 100vh;
                background-color: #fafafa;
                #terms{
                    padding: 15px;
                    font-size: 10px;
                    .subject{
                        font-size: 20px;
                    }
                }
            }

            .page4{
                z-index: 100;
                display: flex;
                position: fixed;
                animation: pageon 1s linear;
                top: 14px !important;
                justify-content: center;
                align-items: center;
                height: 100vh;
                background-color: #fafafa;
                #privacy{
                    padding: 15px;
                    font-size: 10px;
                    .subject{
                        font-size: 20px;
                    }
                }
            }
        }
        
        .footer{
            display: flex;
            flex-direction: column;
            height: 240px;
            .footer-logo{
                height: 38px;
                margin: 15px 0px;
                order: 2;
            }
            .contact-mobile{
                display: flex;
                align-items: center;
                height: 27px;
                font-size: 14px;
                border-radius: 13px;
                font-weight: 700;
                background-color: #fff;
                padding: 0px 10px;
                color: #000;
                margin-top: 20px;
                img{
                    cursor: pointer;
                    height: 24px;
                    margin-right: 5px;
                }
            }
            .footer-desc-mobile{
                text-align: center;
                margin-left: 0px;
                font-size: 12px;
                font-weight: 500;
                order: 3;
                margin-bottom: 20px;
            }
            .botton-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 10px;
                margin-right: 0px;
                font-size: 14px;
                #terms-of-use{
                    margin-right: 0px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

//tablet
@media (min-width: 768px) and (max-width: 1150px) {
    .container{
        flex-direction: column;
        min-height: 100vh;
        min-width: 100vw;
        height: 100%;
        display: flex;
        #nav{
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 47px;
            background-color: #FAFF2C;
            position: fixed;
            top: 0px;
            width: 100%;
            .logo{
                cursor: pointer;
                //animation: logo_anim 0.8s both 1s;
                margin: 20px 0px;
                height: 20px;
                img{
                    height: 100%;
                }
            }
            .contact{
                position: absolute;
                right: 0px;
                display: flex;
                align-items: center;
                height: 27px;
                font-size: 14px;
                border-radius: 20px;
                font-weight: 700;
                background-color: #fff;
                margin-right: 25px;
                padding: 0px 15px;
                img{
                    cursor: pointer;
                    height: 24px;
                    margin-right: 5px;
                }
            }
        }
    
        .main-content{
            display: flex;
            flex-direction: column;
            flex: 1;
            z-index: 0;
            height: 100%;
            width: 100%;
            .page1{
                width: 100vw;
                height: 87vh;
                display: flex;
                align-items: center;
                justify-content: center;
                .video-box{
                    display: flex;
                    .main-videos{
                        .main-video{
                            z-index: -99;
                            width: 189px;
                            height: 336px;
                            display: inline-block;
                            border: 8px solid transparent;
                        }
                        .video-border{
                            border-radius: 18px;
                            border: 8px solid #000;
                            width: 189px;
                            height: 336px;
                            position: absolute;
                        }
                    }
                }
    
                .slogan-box{
                    margin:0px 20px;
                    .slogan{
                        //animation: slogan_anim 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both 1.2s;
                        img{
                            height: 108px;
                        }
                    }
                    .down-box{
                        z-index: 20;
                        text-align: center;
                        top: 100px;
                        position: relative;
                        display: flex;
                        padding: 0px 45px;
                        justify-content: space-between;
                        img{
                            height: 42px;
                        }
                        .down{
                            display: inline-block;
                            cursor: pointer;
                        }
                    }
                }
                .video-slogan{
                    display:flex;
                    align-items: center;
                    font-size: 21px;
                    font-weight: 400;
                    .left-text{
                        margin: 0px 8px 0px 15px;
                        font-size: 14px;
                        width: 50px;
                    }
                    .right-text{
                        margin: 0px 15px 0px 8px;
                        font-size: 14px;
                        width: 50px;
                    }
                    img{
                        height: 12px;
                    }
                }
            }
    
            .page2{
                z-index: -1;
                width: 100%;
                max-height: 100px;
                overflow: hidden;
                .scroller{
                    .sub-videos{
                        display: inline-block;
                        .sub-video{
                            z-index: -99;
                            width: 189px;
                            height: 360px;
                            border: 8px solid transparent;
                        }
                        .video-border{
                            border-radius: 18px;
                            border: 8px solid #000;
                            width: 189px;
                            height: 336px;
                            position: absolute;
                        }
                    }
                }
            }
    
            .page3{
                z-index: 100;
                display: flex;
                position: fixed;
                animation: pageon 1s linear;
                top: 0;
                justify-content: center;
                align-items: center;
                height: 100vh;
                background-color: #fafafa;
                .terms-container{
                    padding: 30px;
                    border: 5px solid;
                    border-radius: 20px;
                    width: 80%;
                    margin: 0 auto;
                    box-sizing: border-box;
                    .subject{
                        font-size: 38px;
                        font-weight: 700;
                        margin-bottom: 20px;
                    }
                    #terms-of-use-text{
                        max-height: 400px;
                        overflow-y: auto;
                    }
                }
            }
    
            .page4{
                z-index: 100;
                display: flex;
                position: fixed;
                animation: pageon 1s linear;
                top: 0;
                justify-content: center;
                align-items: center;
                height: 100vh;
                background-color: #fafafa;
                .privacy-policy-container{
                    padding: 30px;
                    border: 5px solid;
                    border-radius: 20px;
                    width: 80%;
                    margin: 0 auto;
                    box-sizing: border-box;
                    .subject{
                        font-size: 38px;
                        font-weight: 700;
                        margin-bottom: 20px;
                    }
                    #privacy-policy-text{
                        max-height: 400px;
                        overflow-y: auto;
                    }
                }
            }
        }
        .footer{
            z-index: 1;
            display: flex;
            align-items: center;
            width: 100%;
            height: 90px;
            background-color: #000;
            color: #ffffff;
            font-weight: 700;
            font-size: 15px;
            .footer-logo{
                //animation: logo_anim 0.8s both 1s;
                flex: 0 1 auto;
                margin-left: 40px;
                height: 28px;
                img{
                    height: 100%;
                }
            }
            .footer-desc{
                flex: 1;
                margin-left: 45px;
            }
            .botton-container{
                flex: 1;
                text-align: right;
                margin-right: 40px;
                .botton{
                    display: inline-block;
                    cursor: pointer;
                    text-decoration-line: underline;
                    text-underline-position: under;
                }
                #terms-of-use{
                    margin-right: 30px;
                }
            }
        }
    }
}