@-webkit-keyframes slide {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-1692px, 0, 0);
            transform: translate3d(-1692px, 0, 0);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-1692px, 0, 0);
            transform: translate3d(-1692px, 0, 0);
  }
}

@-webkit-keyframes pageon {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pageon {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slogan_anim {
  0% {
    -webkit-transform: scaleX(2);
    transform: scaleX(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes slogan_anim {
  0% {
    -webkit-transform: scaleX(2);
    transform: scaleX(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes logo_anim {
  0% {
    -webkit-transform: skew(0deg 0deg);
    transform: skew(0deg 0deg);
  }
  30% {
    -webkit-transform: skew(25deg 25deg);
    transform: skew(25deg 25deg);
  }
  40% {
    -webkit-transform: skew(-15deg, -15deg);
    transform: skew(-15deg, -15deg);
  }
  50% {
    -webkit-transform: skew(15deg, 15deg);
    transform: skew(15deg, 15deg);
  }
  65% {
    -webkit-transform: skew(-5deg, -5deg);
    transform: skew(-5deg, -5deg);
  }
  75% {
    -webkit-transform: skew(5deg, 5deg);
    transform: skew(5deg, 5deg);
  }
  100% {
    -webkit-transform: skew(0deg 0deg);
    transform: skew(0deg 0deg);
  }
}

@keyframes logo_anim {
  0% {
    -webkit-transform: skew(0deg 0deg);
    transform: skew(0deg 0deg);
  }
  30% {
    -webkit-transform: skew(25deg 25deg);
    transform: skew(25deg 25deg);
  }
  40% {
    -webkit-transform: skew(-15deg, -15deg);
    transform: skew(-15deg, -15deg);
  }
  50% {
    -webkit-transform: skew(15deg, 15deg);
    transform: skew(15deg, 15deg);
  }
  65% {
    -webkit-transform: skew(-5deg, -5deg);
    transform: skew(-5deg, -5deg);
  }
  75% {
    -webkit-transform: skew(5deg, 5deg);
    transform: skew(5deg, 5deg);
  }
  100% {
    -webkit-transform: skew(0deg 0deg);
    transform: skew(0deg 0deg);
  }
}

@-webkit-keyframes start_modal_logo {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0.7;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
  }
}

@keyframes start_modal_logo {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0.7;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
  }
}

@-webkit-keyframes start_modal {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-800px);
            transform: translateY(-800px);
    opacity: 0;
  }
}

@keyframes start_modal {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-800px);
            transform: translateY(-800px);
    opacity: 0;
  }
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0px;
  background-color: #fafafa;
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body > div {
  width: 100%;
  height: 100%;
}

body video {
  width: 100%;
  z-index: -100;
  position: relative;
  -webkit-box-shadow: 0px 5px 10px 5px #b4b4b4;
          box-shadow: 0px 5px 10px 5px #b4b4b4;
  border-radius: 26px;
  border: 8px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .load_modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  -webkit-animation: start_modal 0.5s linear both 0.6s;
          animation: start_modal 0.5s linear both 0.6s;
  background-color: #FAFF2C;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .load_modal .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  -webkit-animation: start_modal_logo 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: start_modal_logo 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container #nav {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 47px;
  background-color: #FAFF2C;
  position: fixed;
  top: 0px;
  width: 100%;
}

.container #nav .logo {
  cursor: pointer;
  margin: 20px 0px;
  height: 28px;
}

.container #nav .logo img {
  height: 100%;
}

.container #nav .contact {
  position: absolute;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 27px;
  font-size: 14px;
  border-radius: 20px;
  font-weight: 700;
  background-color: #fff;
  margin-right: 25px;
  padding: 0px 15px;
}

.container #nav .contact img {
  cursor: pointer;
  height: 18px;
  margin-right: 5px;
  margin-left: -4px;
}

.container .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  z-index: 0;
  height: 100%;
  width: 100%;
}

.container .main-content .page1 {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .main-content .page1 .video-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .main-content .page1 .video-box .main-videos .main-video {
  z-index: -99;
  display: inline-block;
  border: 8px solid transparent;
}

.container .main-content .page1 .slogan-box {
  margin: 0px 70px;
}

.container .main-content .page1 .slogan-box .slogan img {
  height: 108px;
}

.container .main-content .page1 .slogan-box .down-box {
  z-index: 20;
  width: 100%;
  bottom: -105%;
  left: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .main-content .page1 .slogan-box .down-box img {
  height: 42px;
}

.container .main-content .page1 .slogan-box .down-box .down {
  display: inline-block;
  cursor: pointer;
  margin: 0px 12px;
}

.container .main-content .page1 .video-slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 21px;
  font-weight: 400;
  word-break: keep-all;
}

.container .main-content .page1 .video-slogan .left-text {
  margin: 0px 8px 0px 15px;
}

.container .main-content .page1 .video-slogan .right-text {
  margin: 0px 15px 0px 8px;
}

.container .main-content .page1 .video-slogan img {
  height: 15px;
}

.container .main-content .page2 {
  display: none;
  z-index: -1;
  width: 100%;
  max-height: 100px;
  overflow: hidden;
}

.container .main-content .page2 .scroller .sub-videos {
  width: 189px;
  display: inline-block;
}

.container .main-content .page2 .scroller .sub-videos .sub-video {
  z-index: -99;
  width: 189px;
  height: 360px;
  border: 8px solid transparent;
}

.container .main-content .page3 {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-animation: pageon 0.3s linear;
          animation: pageon 0.3s linear;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #fafafa;
}

.container .main-content .page3 .terms-container {
  padding: 30px;
  border: 5px solid;
  border-radius: 20px;
  width: 80%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container .main-content .page3 .terms-container .subject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 20px;
}

.container .main-content .page3 .terms-container .subject .close {
  width: 24px;
  margin-bottom: 28px;
  cursor: pointer;
}

.container .main-content .page3 .terms-container #terms-of-use-text {
  max-height: 400px;
  overflow-y: auto;
}

.container .main-content .page4 {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-animation: pageon 0.3s linear;
          animation: pageon 0.3s linear;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #fafafa;
}

.container .main-content .page4 .privacy-policy-container {
  padding: 30px;
  border: 5px solid;
  border-radius: 20px;
  width: 80%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container .main-content .page4 .privacy-policy-container .subject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 20px;
}

.container .main-content .page4 .privacy-policy-container .subject .close {
  width: 24px;
  margin-bottom: 28px;
  cursor: pointer;
}

.container .main-content .page4 .privacy-policy-container #privacy-policy-text {
  max-height: 400px;
  overflow-y: auto;
}

.container .footer {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  background-color: #000;
  color: #ffffff;
  font-weight: 700;
  font-size: 13px;
}

.container .footer .footer-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-left: 40px;
  height: 28px;
}

.container .footer .footer-logo img {
  height: 100%;
}

.container .footer .footer-desc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 45px;
}

.container .footer .botton-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  margin-right: 40px;
}

.container .footer .botton-container .botton {
  display: inline-block;
  cursor: pointer;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-underline-position: under;
}

.container .footer .botton-container #terms-of-use {
  margin-right: 30px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .load_modal img {
    width: 50%;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container #nav {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 47px;
    background-color: #FAFF2C;
    position: fixed;
    top: 0px;
    width: 100%;
  }
  .container #nav .logo {
    cursor: pointer;
    margin: 20px 0px;
    height: 28px;
  }
  .container #nav .logo img {
    height: 100%;
  }
  .container #nav .contact {
    display: none;
    top: 60px;
    right: unset !important;
    margin-right: 0px !important;
    -webkit-box-shadow: 0px 0px 6px 0px #9999;
            box-shadow: 0px 0px 6px 0px #9999;
  }
  .container .main-content .page1-moblie {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 45px;
  }
  .container .main-content .page1-moblie .video-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    position: relative;
  }
  .container .main-content .page1-moblie .video-container #left-video .main-videos {
    position: relative;
    right: 10%;
  }
  .container .main-content .page1-moblie .video-container .video-box {
    width: 100%;
  }
  .container .main-content .page1-moblie .video-container .video-box .main-videos {
    width: 100%;
    height: 100%;
    position: unset !important;
    right: 0% !important;
  }
  .container .main-content .page1-moblie .video-container .video-box .main-videos .main-video {
    z-index: -99;
    height: 100%;
  }
  .container .main-content .page1-moblie .video-container .video-box .main-videos .main-video video {
    border: 0px solid #000;
    border-radius: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container .main-content .page1-moblie .video-container .slogan-box {
    position: absolute;
    bottom: 10%;
  }
  .container .main-content .page1-moblie .video-container .slogan-box .slogan {
    text-align: center;
  }
  .container .main-content .page1-moblie .video-container .slogan-box .slogan img {
    width: 80%;
  }
  .container .main-content .page1-moblie .video-container .slogan-box .down-box {
    z-index: 20;
    text-align: center;
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .container .main-content .page1-moblie .video-container .slogan-box .down-box > img {
    width: 80%;
    cursor: pointer;
  }
  .container .main-content .page1-moblie .video-container .slogan-box .down-box .down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .container .main-content .page1-moblie .video-container .slogan-box .down-box .down img {
    height: 40px;
    cursor: pointer;
  }
  .container .main-content .page2 {
    display: none;
  }
  .container .main-content .page3 {
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-animation: pageon 0.3s linear;
            animation: pageon 0.3s linear;
    top: 14px !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    background-color: #fafafa;
  }
  .container .main-content .page3 #terms {
    padding: 15px;
    font-size: 10px;
  }
  .container .main-content .page3 #terms .subject {
    font-size: 18px;
  }
  .container .main-content .page3 #terms .subject .close {
    width: 15px;
    margin-bottom: 0px;
  }
  .container .main-content .page4 {
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-animation: pageon 0.3s linear;
            animation: pageon 0.3s linear;
    top: 14px !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    background-color: #fafafa;
  }
  .container .main-content .page4 #privacy {
    padding: 15px;
    font-size: 10px;
  }
  .container .main-content .page4 #privacy .subject {
    font-size: 16px;
  }
  .container .main-content .page4 #privacy .subject .close {
    width: 15px;
    margin-bottom: 0px;
  }
  .container .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 240px;
  }
  .container .footer .footer-logo {
    height: 38px;
    margin: 15px 0px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .container .footer .contact-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 27px;
    font-size: 14px;
    border-radius: 13px;
    font-weight: 700;
    background-color: #fff;
    padding: 0px 10px;
    color: #000;
    margin-top: 20px;
  }
  .container .footer .contact-mobile img {
    cursor: pointer;
    height: 18px;
    margin-right: 5px;
    margin-left: -3px;
  }
  .container .footer .footer-desc-mobile {
    text-align: center;
    margin-left: 0px;
    font-size: 12px;
    font-weight: 500;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 20px;
  }
  .container .footer .botton-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
    margin-right: 0px;
    font-size: 14px;
  }
  .container .footer .botton-container #terms-of-use {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1150px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container #nav {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 47px;
    background-color: #FAFF2C;
    position: fixed;
    top: 0px;
    width: 100%;
  }
  .container #nav .logo {
    cursor: pointer;
    margin: 20px 0px;
    height: 28px;
  }
  .container #nav .logo img {
    height: 100%;
  }
  .container #nav .contact {
    position: absolute;
    right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 27px;
    font-size: 14px;
    border-radius: 20px;
    font-weight: 700;
    background-color: #fff;
    margin-right: 25px;
    padding: 0px 15px;
  }
  .container #nav .contact img {
    cursor: pointer;
    height: 18px;
    margin-right: 5px;
    margin-left: -4px;
  }
  .container .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    z-index: 0;
    height: 100%;
    width: 100%;
  }
  .container .main-content .page1 {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .main-content .page1 .video-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .main-content .page1 .video-box .main-videos .main-video {
    z-index: -99;
    width: 189px;
    height: 336px;
    display: inline-block;
    border: 8px solid transparent;
  }
  .container .main-content .page1 .slogan-box {
    margin: 0px 20px;
  }
  .container .main-content .page1 .slogan-box .slogan img {
    height: 84px;
  }
  .container .main-content .page1 .slogan-box .down-box {
    z-index: 20;
    width: 100%;
    bottom: -105%;
    left: 0;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .main-content .page1 .slogan-box .down-box img {
    height: 42px;
  }
  .container .main-content .page1 .slogan-box .down-box .down {
    display: inline-block;
    cursor: pointer;
  }
  .container .main-content .page1 .video-slogan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 21px;
    font-weight: 400;
    word-break: keep-all;
  }
  .container .main-content .page1 .video-slogan .left-text {
    margin: 0px 8px 0px 8px;
    font-size: 14px;
  }
  .container .main-content .page1 .video-slogan .right-text {
    margin: 0px 8px 0px 8px;
    font-size: 14px;
  }
  .container .main-content .page1 .video-slogan img {
    height: 12px;
  }
  .container .main-content .page2 {
    display: none;
    z-index: -1;
    width: 100%;
    max-height: 100px;
    overflow: hidden;
  }
  .container .main-content .page2 .scroller .sub-videos {
    display: inline-block;
  }
  .container .main-content .page2 .scroller .sub-videos .sub-video {
    z-index: -99;
    width: 189px;
    height: 360px;
    border: 8px solid transparent;
  }
  .container .main-content .page3 {
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-animation: pageon 0.3s linear;
            animation: pageon 0.3s linear;
    top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    background-color: #fafafa;
  }
  .container .main-content .page3 .terms-container {
    padding: 30px;
    border: 5px solid;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .container .main-content .page3 .terms-container .subject {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .container .main-content .page3 .terms-container #terms-of-use-text {
    max-height: 400px;
    overflow-y: auto;
  }
  .container .main-content .page4 {
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-animation: pageon 0.3s linear;
            animation: pageon 0.3s linear;
    top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    background-color: #fafafa;
  }
  .container .main-content .page4 .privacy-policy-container {
    padding: 30px;
    border: 5px solid;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .container .main-content .page4 .privacy-policy-container .subject {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .container .main-content .page4 .privacy-policy-container #privacy-policy-text {
    max-height: 400px;
    overflow-y: auto;
  }
  .container .footer {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 90px;
    background-color: #000;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
  }
  .container .footer .footer-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-left: 40px;
    height: 28px;
  }
  .container .footer .footer-logo img {
    height: 100%;
  }
  .container .footer .footer-desc {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 45px;
  }
  .container .footer .botton-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: right;
    margin-right: 40px;
  }
  .container .footer .botton-container .botton {
    display: inline-block;
    cursor: pointer;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    text-underline-position: under;
  }
  .container .footer .botton-container #terms-of-use {
    margin-right: 30px;
  }
}
/*# sourceMappingURL=style.css.map */